<div>
    <app-page-breadcrumb pageTitle="Warehouse Form" />

    <app-component-card title="Default Inputs">
        <form [formGroup]="warehouseForm" (ngSubmit)="onSave()">
            <div class="space-y-6">
                <div>
                    <app-label for="inputCode">Code</app-label>
                    <app-input-field id="inputCode" type="text" name="code" formControlName="code" [required]="true"
                        [maxlength]="10" hint="Enter warehouse code"></app-input-field>
                </div>
                <div>
                    <app-label for="inputWarehouseName">Warehouse Name</app-label>
                    <app-input-field id="inputWarehouseName" name="warehouseName" formControlName="warehouseName"
                        [required]="true"></app-input-field>
                </div>
                <div>
                    <app-label for="inputCountry">Country</app-label>
                    <app-input-field id="inputCountry" name="country" formControlName="country"
                        [required]="true"></app-input-field>
                </div>
                <div>
                    <app-label for="inputAddres">Addres</app-label>
                    <app-input-field id="inputAddres" name="addres" formControlName="addres"
                        [required]="true"></app-input-field>
                </div>
                <div>
                    <app-label for="inputStatus">Status</app-label>
                    <app-input-field id="inputStatus" name="status" formControlName="status"
                        [required]="true"></app-input-field>
                </div>

            </div>
            <app-form-actions backLabel="Back" saveLabel="Save" (back)="onBack()" [disabled]="warehouseForm.invalid" />
        </form>
    </app-component-card>
</div>