<div class="space-y-4">

    <!-- HEADER -->
    <div class="flex justify-between items-center">
        <h3 class="text-lg font-semibold">Document Items</h3>
    </div>

    <!-- TABLE -->
    <div class="border rounded-lg overflow-hidden">
        <table class="w-full text-sm">
            <thead class="bg-gray-100 dark:bg-gray-800">
                <tr>
                    <th class="p-2 text-left">Product</th>
                    <th class="p-2 text-left">Qty</th>
                    <th class="p-2 text-left">From Zone</th>
                    <th class="p-2 text-left">To Zone</th>
                </tr>
            </thead>

            <tbody>
                @for (item of documentItems; track item; let i = $index) {
                <tr class="border-t">
                    <td class="p-2">
                        <app-input-detail [id]="'productid-'+i" [value]="item.productName"
                            className="dark:bg-dark-900" />
                    </td>
                    <td class="p-2">
                        <app-input-detail [id]="'productid-'+i" [value]="item.quantity" className="dark:bg-dark-900" />
                    </td>
                    <td class="p-2">
                        <app-input-detail [id]="'productid-'+i" [value]="item.sourceZoneName"
                            className="dark:bg-dark-900" />
                    </td>
                    <td class="p-2">
                        <app-input-detail [id]="'productid-'+i" [value]="item.targetZoneName"
                            className="dark:bg-dark-900" />
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>

</div>