<div class="ui-panel {{ className }}">
  <!-- Card Header -->
<div class="ui-panel-header">
  
  <!-- Lewa strona -->
  <div>
    <h3 class="ui-title">
      {{ title }}
    </h3>

    @if (desc) {
      <p class="ui-muted mt-1">
        {{ desc }}
      </p>
    }
  </div>

  <!-- Prawa strona – akcje -->
  <div class="flex items-center gap-2">
    <ng-content select="[card-actions]"></ng-content>
  </div>

</div>
  <!-- Card Body -->
  <div class="ui-panel-body">
    <div class="space-y-6">
      <ng-content></ng-content>
    </div>
  </div>
</div>
