<div>
    <app-page-breadcrumb pageTitle="Zone Details" />

    <app-component-card title="Zone Information">
        <ng-container *ngIf="zone$ | async as zone">
        <div class="space-y-6">
            <div>
                <app-label for="code">Code</app-label>
                <app-input-detail id="code" [value]="zone?.code">
                </app-input-detail>
            </div>

            <div>
                <app-label for="name">SKU</app-label>
                <app-input-detail id="name" [value]="zone?.name">
                </app-input-detail>
            </div>
            <div>
                <app-label for="temperatureType">Temperature Type</app-label>
                <app-input-detail id="temperatureType" [value]="zone?.temperatureType">
                </app-input-detail>
            </div>

            <div>
                <app-label for="isPickingZone">Is Picking Zone</app-label>
                <app-input-detail id="isPickingZone" [value]="zone?.isPickingZone">
                </app-input-detail>
            </div>
            <div>
                <app-label for="warehouse">Warehouse</app-label>
                <app-input-detail id="warehouse" [value]="zone?.warehouseName">
                </app-input-detail>
            </div>
        </div>

        <!-- sekcja akcji -->
        <app-detail-actions backLabel="Back" saveLabel="Edit" (back)="onBack()" (action)="onEdit()">
        </app-detail-actions>
        </ng-container>

    </app-component-card>
</div>
