<div>
    <app-page-breadcrumb pageTitle="Warehouse Details" />

    <app-component-card title="Warehouse Information">
        <div *ngIf="warehouse; else loadingWarehouse" class="space-y-6">
            <div>
                <app-label for="inputCode">Code</app-label>
                <app-input-detail id="inputCode" type="text" name="warehouseCode" [value]="warehouse.code"></app-input-detail> 
                <!-- Trzeba dodawać znak zapytania bo dane nie azwsze pokazują sięodrazu -->
            </div>
            <div>
                <app-label for="inputWarehouseName">Warehouse Name</app-label>
                <app-input-detail id="inputWarehouseName" name="warehouseName"
                    [value]="warehouse.name"></app-input-detail>
            </div>
            <div>
                <app-label for="inputCountry">Country</app-label>
                <app-input-detail id="inputCountry" name="country" [value]="warehouse.country"></app-input-detail>
            </div>
            <div>
                <app-label for="inputAddress">Address</app-label>
                <app-input-detail id="inputAddress" name="address" [value]="warehouse.address"></app-input-detail>
            </div>
            <div> 
                <app-label for="inputStatus">Is Active</app-label>
                <app-input-detail id="inputStatus" name="status" [value]="warehouse.isActive" [type]="'boolean'"></app-input-detail>
            </div>
        </div>
        <ng-template #loadingWarehouse>
            <div class="px-4 py-3 text-sm text-gray-500 dark:text-gray-400">Loading warehouse...</div>
        </ng-template>

        <!-- sekcja akcji -->
        <app-detail-actions backLabel="Back" saveLabel="Edit" (back)="onBack()" (action)="onEdit()">
        </app-detail-actions>

    </app-component-card>
</div>
