<div>
    <app-page-breadcrumb pageTitle="Pending Documents List" />

    <app-component-card title="Pending Documents List">
        <button card-actions (click)="goToForm()"
            class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
            Add Document
        </button>
        <div
            class="overflow-hidden rounded-xl border border-gray-200 bg-white dark:border-white/[0.05] dark:bg-white/[0.03]">
            <!-- by używać asunc trzeba zrobić import CommonModule w komponencie -->
            <app-table 
                [columns]="columns" 
                [data]="documents$ | async" 
                [pageSize]="5" 
                [rowActions]="documentActions"
                (rowAction)="onDocumentAction($event)">

            </app-table>
        </div>
    </app-component-card>
</div>