<div>
  <app-page-breadcrumb pageTitle="Product Form" />

  <app-component-card title="Product">
    <form [formGroup]="productForm" (ngSubmit)="onSave()">
      <div class="space-y-6">
        <div>
          <app-label for="inputName">Name</app-label>
          <app-input-field id="inputName" type="text" name="name" formControlName="name" [required]="true"
            [maxlength]="30" hint="Enter product name"></app-input-field>
        </div>
        <div>
          <app-label for="inputSKU">SKU</app-label>
          <app-input-field id="inputSKU" name="sku" formControlName="sku" [required]="true"></app-input-field>
        </div>

      </div>
      <app-form-actions backLabel="Back" saveLabel="Save" (back)="onBack()" (submit)="productForm.valid && onSave()" [disabled]="productForm.invalid" />
    </form>
  </app-component-card>
</div>