<div>
    <app-page-breadcrumb pageTitle="Zone Form" />

    <app-component-card title="Zone">
        <form [formGroup]="zoneForm" (ngSubmit)="zoneForm.valid && onSave()">
            <div class="space-y-6">
                <div>
                    <app-label for="inputZoneCode">Code</app-label>
                    <app-input-field id="inputZoneCode" type="text" name="code" formControlName="code"
                        [required]="true" [maxlength]="30" hint="Enter Code"></app-input-field>
                    <div class="text-red-500 text-sm mt-1" *ngIf="zoneForm.get('code')?.errors?.['server']">
                        {{ zoneForm.get('code')?.errors?.['server'] }}
                    </div>
                </div>
                <div>
                    <app-label for="inputName">Name</app-label>
                    <app-input-field id="inputName" name="name" formControlName="name"
                        [required]="true"></app-input-field>
                    <div class="text-red-500 text-sm mt-1" *ngIf="zoneForm.get('name')?.errors?.['server']">
                        {{ zoneForm.get('name')?.errors?.['server'] }}
                    </div>
                </div>
                <div>
                    <app-label for="inputTemperatureType">Temperature Type</app-label>
                    <app-input-select id="inputTemperatureType" type="text" placeholder="Select Temperature Type"
                        name="temperatureType" [options]="temperatureTypeOptions" formControlName="temperatureType"
                        [required]="true" [maxlength]="30" hint="Choose Temperature Type"></app-input-select>
                    <div class="text-red-500 text-sm mt-1" *ngIf="zoneForm.get('temperatureType')?.errors?.['server']">
                        {{ zoneForm.get('temperatureType')?.errors?.['server'] }}
                    </div>
                </div>
                <div>
                    <app-label for="inputIsPickingZone">Is Picking Zone</app-label>
                    <app-checkbox id="inputIsPickingZone" type="text" name="isPickingZone"
                        formControlName="isPickingZone" [required]="true" hint="isPickingZone"></app-checkbox>
                    <div class="text-red-500 text-sm mt-1" *ngIf="zoneForm.get('isPickingZone')?.errors?.['server']">
                        {{ zoneForm.get('isPickingZone')?.errors?.['server'] }}
                    </div>
                </div>
                <div>
                    <app-label for="inputWarehouse">Warehouse</app-label>
                    <app-input-select id="inputWarehouse" type="text" name="warehouseId" [options]="warehouseOptions"
                        placeholder="Select Warehouse" className="dark:bg-dark-900" [required]="true"
                        formControlName="warehouseId" [required]="true" hint="warehouseId"></app-input-select>
                    <div class="text-red-500 text-sm mt-1" *ngIf="zoneForm.get('warehouseId')?.errors?.['server']">
                        {{ zoneForm.get('warehouseId')?.errors?.['server'] }}
                    </div>
                </div>
            </div>
            <app-form-actions backLabel="Back" saveLabel="Save" (back)="onBack()" [disabled]="zoneForm.invalid" />
        </form>
    </app-component-card>
</div>